@import 'mixins';
@import 'reset';

html, body {
    margin: 0;
    height: 100%;
}  

.container{
    padding: 0px 15px 0 15px;
}

.header{
    background-image: linear-gradient(200deg, #FFEE32, #D6D6D6);
    min-height: 800px;

    &__nav{
        height: 100px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;

        & > a{
            margin-top: 27px;
        }
    }

    &__nav--expanded{
        position: fixed;
        z-index: 2;
        right: 0;
        margin-right: 15px;
        margin-top: 40px;
        display: none;
        flex-direction: column;
        align-items: flex-end;
    }

    &__nav--desktop--expanded{
        position: fixed;
        z-index: 2;
        right: 0;
        margin-right: 240px;
        display: none;
    }

    &__nav--item:first-child{
        margin-top: 20px;
    }

    &__nav--item{
        padding: 0px 16px 0px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include textFont;
        height: 42px;
        color: white;
        border: 1px solid white;
        border-radius: 25px;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-decoration: none;
    }

    &__nav--item-title{
        margin-left: 12px;
    }

    &__nav--icon{
        position: fixed;
        z-index: 2;
        height: 56px;
        width: 56px;
    }

    &__nav--menu{
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        margin-top: 27px;
    }

    &__nav--menu-icon{
        position: fixed;
        z-index: 2;
        display: flex;
        align-items: flex-end;
    }

    &__title{
        @include boldFont;
        margin-top: 330px;
        color: white;
        font-weight: 700;
        font-size: 48px;
        line-height: 57px;
    }
}

.information{

    background-color: #202020;
    min-height: 466px;

    &__name{
        @include boldFont;
        max-width: 342px;
        color: #FAEB49;
        padding-top: 70px;
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
    }

    &__description{
        @include textFont;
        margin-top: 40px;
        max-width: 342px;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        color: #FFFF;
    }

    &__main{
        display: flex;
        margin-top: 50px;
    }

    &__main--section{
        display: flex;
        flex-direction: column;
    }

    &__main--number{
        @include boldFont;
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        color: #FFFFFF;
    }

    &__main--text{
        @include textFont;
        margin-top: 12px;
        max-width: 76px;
        color: #FFFFFF;
    }
}

.projects{
    background-color: #3C3C3C;
    min-height: 1460px;

    &__grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 518px);
        grid-row-gap: 65px;
        grid-template-areas: 
        "banking"
        "planet";
    }

    &__grid--project-container{
        padding: 16px;
    }

    &__grid--project1{
        grid-area: banking;
        margin-top: 50px;
        border-radius: 24px;
        background-color: #FFFFFF;
        width: 94vw;
        min-height: 488px;
    }

    &__grid--project2{
        grid-area: planet;
        border-radius: 24px;
        background-color: #FFFFFF;
        width: 94vw;
        min-height: 488px;
    }

    &__grid--project3{
        display: none;
    }

    &__grid--project4{
        display: none;
    }

    &__grid--project--img{
        width: 100%;
        height: 278px;
        border-radius: 13px;
    }

    &__grid--project--arrow{
        position: absolute;
        margin-left: -77px;
        margin-top: 14px;
    }

    &__grid--project--title{
        @include boldFont;
        margin-top: 20px;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: #565656;
    }

    &__grid--project--description{
        @include textFont;
        margin-top: 15px;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        color: #000000;
    }
}

.graphics{
    background-color: #202020;
    min-height: 1260px;

    &__title{
        @include boldFont;
        padding-top: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        color: #FFFF;
    }

    &__grid{
        margin-top: 60px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 325px);
        grid-row-gap: 32px;
        grid-template-areas: 
        "element1"
        "element2"
        "element3";
    }

    &__grid--element-1{

        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: element1;

        img{
            position: relative;
            z-index: 1;
            width: 100%;
            height: 325px;
            border-radius: 40px;
            filter: grayscale(100%);
        }
    }

    &__grid--element-1::after{
        content: '';
        background-image: url(../images/SoftStar.svg);
        display: block;
        text-align: center;
        position: absolute;
        z-index: 2;
        width: 172px;
        height: 172px;
    }

    &__grid--element-2{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: element2;

        img{
            position: relative;
            z-index: 1;
            width: 100%;
            height: 325px;
            border-radius: 40px;
            filter: grayscale(100%);
        }

    }

    &__grid--element-2::after{
        content: '';
        background: url(../images/Butterfly.svg) no-repeat;
        display: block;
        text-align: center;
        position: absolute;
        z-index: 2;
        width: 134px;
        height: 137px;
    }

    &__grid--element-3{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: element3;

        img{
            position: relative;
            z-index: 1;
            width: 100%;
            height: 325px;
            border-radius: 40px;
            filter: grayscale(100%);
        }

    }
    
    &__grid--element-3::after{
        content: '';
        background: url(../images/Asterisk\ 1.svg) no-repeat;
        display: block;
        text-align: center;
        position: absolute;
        z-index: 2;
        width: 148px;
        height: 143px;
    }

}


.slogan{

    background-image: url(../images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 498px;
    display: flex;
    justify-content: center;;
    align-items: center;

    &__text{
        @include boldFont;
        max-width: 343px;
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
    }
}

.booking{
    position: relative;
    background-color: #202020;
    min-height: 342px;

    &__button{
        padding-top: 55px;

        a{
            text-decoration: none;
        }
    }

    &__button--properties{
        border: 1px solid #F2F2F2;
        border-radius: 139px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 30px 15px 30px;
    }

    &__text-area{
        display: flex;
        margin-left: 20px;
        flex-direction: column;
        color: #FFFFFF;
    }

    &__bold-text{
        @include boldFont;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }

    &__text{
        @include textFont;
        margin-top: 6px;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
    }

    &__text::after{
        content: '→';
        color: #FFFFFF;
        font-size: 33px;
    }

    &__icon{
        height: 52px;
        width: 52px;
    }

    &__footer{
        margin-top: 112px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__footer--social-links{
        a{
            text-decoration: none;
        }

    }

    &__footer--social-links--icon{
        margin-right: 34px;
    }

    &__footer--social-links--icon:last-child{
        margin-right: 0;
    }

    &__footer--copyright{
        @include textFont;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        margin-top: 20px;
        margin-bottom: 35px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1199px) {

    .container{
        padding: 0px 30px 0 30px;
    }

    .header__title{
        max-width: 521px;
        font-size: 80px;
        line-height: 96px;
        margin-top: 90px;
    }

    .header__nav--desktop--expanded{
        display: none;
    }

    .information__name{
        max-width: 492px;
        font-size: 48px;
        line-height: 58px;
    }

    .information__description{
        max-width: 524px;
        font-size: 16px;
        line-height: 22px;
    }

    .information__main{
        gap: 90px;
    }

    .projects__grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 50px;
        grid-template-areas: 
        "banking banking"
        "app planet";
    }

    .projects__grid--project1{
        width: 94vw;
        height: 680px;
    }


    .projects__grid--project2{
        width: 41vw;
        height: 680px;
    }
    
    .projects__grid--project3{
        display: block;
        grid-area: app;
        border-radius: 24px;
        background-color: #FFFFFF;
        width: 41vw;
        height: 680px;
    }

    .projects__grid--project--img{
        width: 100%;
        height: 448px;
    }

    .projects__grid--project1{
        
        .projects__grid--project--img{
            width: 100%;
            height: 498px;
        }
    }

    .projects__grid--project4{
        display: none;
    }

    .graphics{
        min-height: 1120px;
    }

    .graphics__title{
        font-size: 80px;
        line-height: 96px;
    }

    .graphics__grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 25px;
        grid-template-areas: 
        "element1 element1"
        "element2 element3";
    }

    .graphics__grid--element-1{

        img{
            height: 414px;
        }

    }

    .slogan{
        min-height: 800px;
    }

    .slogan__text{
        max-width: 704px;
        font-size: 48px;
        line-height: 57px;
    }

    .booking__icon{
        height: 108px;
        width: 108px;
    }

    .booking__bold-text{
        font-size: 48px;
        line-height: 58px;
    }

    .booking__text{
        font-size: 24px;
        line-height: 33px;
    }

    .booking__footer{
        margin-top: 100px;
    }

    .booking__footer--copyright{
        font-size: 16px;
        line-height: 22px;
    }
    
}

@media screen and (min-width: 1200px) {

    .container{
        padding: 0px 190px 0 190px;
    }

    .header__desktop{
        display: flex;
        justify-content: space-between;
    }

    .header__nav--menu{
        display: none;
    }

    .header__nav--desktop--expanded{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 16px;
    }

    .header__title{
        width: 846px;
        font-size: 80px;
        line-height: 96px;
        margin-top: 400px;
    }

    .information__name{
        max-width: 492px;
        font-size: 48px;
        line-height: 58px;
    }

    .information__description{
        max-width: 524px;
        font-size: 16px;
        line-height: 22px;
    }

    .information__main{
        gap: 90px;
    }

    .projects__grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "banking banking banking"
        "app planet app2";
    }

    .projects__grid--project1{
        width: 97%;
        min-width: 1050px;
        height: 680px;
    }


    .projects__grid--project2{
        width: 24vw;
        height: 680px;
    }
    
    .projects__grid--project3{
        display: block;
        grid-area: app;
        border-radius: 24px;
        background-color: #FFFFFF;
        width: 24vw;
        height: 680px;
    }

    .projects__grid--project4{
        display: block;
        grid-area: app2;
        width: 24vw;
        height: 680px;
        border-radius: 24px;
        background-color: #FFFFFF;
    }

    .projects__grid--project--img{
        width: 100%;
        height: 448px;
    }

    .projects__grid--project1{
        
        .projects__grid--project--img{
            width: 100%;
            height: 498px;
        }
    }

    .graphics__title{
        font-size: 80px;
        line-height: 96px;
    }

    .graphics__grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 0;
        grid-template-areas: 
        "element1 element1"
        "element2 element3";
    }


    .graphics{
        min-height: 1120px;
    }


    .graphics__grid--element-1{

        img{
            height: 414px;
        }

    }

    .slogan{
        min-height: 800px;
    }

    .slogan__text{
        max-width: 1059px;
        font-size: 48px;
        line-height: 57px;
    }

    .booking__icon{
        height: 108px;
        width: 108px;
    }

    .booking__bold-text{
        font-size: 48px;
        line-height: 58px;
    }

    .booking__text{
        font-size: 24px;
        line-height: 33px;
    }

    .booking__footer{
        margin-top: 150px;
    }

    .booking__footer--copyright{
        font-size: 16px;
        line-height: 22px;
    }

    .booking__button--properties{
        margin-left: 70px;
        margin-right: 70px;
        padding: 15px 130px 15px 130px;
    }
}